<tr>
    <td data-content="device_name"></td>
    <td data-content="device_dep"></td>
    <td><button type="button" class="dev_up_token btn btn-warning" title="Update this device Token" data-template-bind='[
        {"attribute": "data-id", "value": "id"}]'>
            <span class="fa fa-refresh"></span>
        </button>
        <span data-content="device_uid"></span>
    </td>
    <td data-content="device_date"></td>
    <td>
        <div class="mode_select" data-template-bind='[
        {"attribute": "data-id", "value":          "id", "formatter": "modeSelect"},
        {"attribute": "content", "value": "device_mode", "formatter": "modeSelect"}]'></div>
    </td>
    <td data-content="id" data-format="editButtons"></td>
</tr>